body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.global-button {
  height: 30px;
  width: fit-content;
  padding: 0 20px;
  border-radius: 7px;
  cursor: pointer;
  margin: 2px;
  border: black;
  background-color: #00c9ff;
}
